[submodule "pokeemerald"]
	path = pokeemerald
	url = https://github.com/aith/pokeemerald
        branch = master
[submodule "agbcc"]
	path = agbcc
	url = https://github.com/pret/agbcc
[submodule "poryscript"]
	path = poryscript
	url =  https://github.com/huderlem/poryscript
[submodule "porymap"]
	path = porymap
	url = https://github.com/huderlem/porymap
